body {


  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
  background-image: -webkit-linear-gradient(135deg, #00162c, #0b3854);
  background-image: -moz-linear-gradient(45deg, #00162c, #0b3854);
  background-image: -ms-linear-gradient(45deg, #00162c 0, #0b3854 100%);
  background-image: -o-linear-gradient(45deg, #00162c, #0b3854);
  background-image: linear-gradient(135deg, #00162c, #0b3854);
  color: white;}
.bg-dark {
  background: #032037 !important;
}
.App {

}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40px;
  width: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-select {
  color: #fff;
  background-color: #7e256c;
  border: 1px solid #450337;
}
.custom-select:focus {
  border-color: #c53aa9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(102, 33, 85, 0.67);
}
select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px #54193d inset;
}
select:focus > option:checked {
  background: #54193d !important;
}



.table-bordered {
  border: 1px solid #1364a2 !important;
}
.table th, .table td {
  border: 1px solid #1364a2 !important;
}
.table1-header {
  color: #ffffff;
  font-size: 1.25rem;
}
#table1 .table-hover-cells > th:hover,
#table1 .table-hover-cells > th:hover{
  background-color: #f5f5f5;
}
#table1 {
  width: 100%;
  margin-bottom: 1rem;
  color: #3695de;
}

#table1 a{
  color: #c4019d;
}

#table1 thead tr:first-child {
  border-bottom: 2px solid #7e256c !important;
  background-color: #86b7ef14;
}



#table2 .table-hover-cells > tr > th:hover,
#table2 .table-hover-cells > tr > th:hover,
#table2 .table-hover-cells > tr > td:hover {
  background-color: #f5f5f5;
}
#table2 {
  width: 100%;
  margin-bottom: 1rem;
  color: #3695de;
}

#table2 .table-title{
  color: #c4019d;
}
#table2 .table-corner-title{
  color: #a0bad7;
}
#table2 thead tr:first-child {
  border-bottom: 2px solid #7e256c !important;
  background-color: #86b7ef14;

}
#table2 thead th:first-child {
  border-right: 2px solid #7e256c !important;
}
#table2 tbody th:first-child{
  border-right: 2px solid #7e256c !important;
  background-color: #86b7ef14;
}

